@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(/img/backney.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.logo{
    max-width: 350px;
}

.conteudo{
    padding-left: 80px;
}

h1{
    font-size: 43px;
    list-style: 53px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.valores-container{
    display:flex;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.preco{
    font-family: 'Roboto', sans-serif;
    color: rgb(177, 176, 176);
    font-size: 23px
}

span{
    color: white;
    font-weight: bold;
}

.btn,a{
    background: #0063E5;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 17px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p{
    color:rgb(177, 176, 176);
}

.logo2{
    margin-top: 30px;
    max-width: 800px;
}

.butao{
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 32px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 16px 32px;
    border-radius: 5px;
    font-weight: 400;
    transition: .2s;
}

.butao:hover{
    color: black;
    background: white;
}

@media (max-width: 875px){
    body{
        background: url(/img/neymarzin.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo{
        max-width: 250px;
    }

    .logo2{
        margin-top: 30px;
        max-width: 800px;
        display:none;
    }

    .conteudo{
        padding-left: 20px;
        margin-top: 15em;
    }

    h1{
        font-size: 3rem;
        color: rgb(243, 239, 239);
        -webkit-text-stroke: 2px black;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .preco{
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 23px;
        font-weight: bold;
    }
}

@media (max-width: 575px){
    body{
        background: url(/img/neymarzin.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo{
        max-width: 250px;
    }

    .logo2{
        margin-top: 30px;
        max-width: 800px;
        display:none;
    }

    .conteudo{
        padding-left: 20px;
        margin-top: 25em;
    }

    h1{
        font-size: 2.5rem;
        color: rgb(243, 239, 239);
        -webkit-text-stroke: 2px black;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .preco{
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 23px;
        font-weight: bold;
    }
}

@media (max-width: 375px){
    body{
        background: url(/img/neymarzin.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo{
        max-width: 250px;
    }

    .logo2{
        margin-top: 30px;
        max-width: 800px;
        display:none;
    }

    .conteudo{
        padding-left: 1px;
        margin-top: 16em;
    }

    h1{
        font-size: 1.8rem;
        color: rgb(243, 239, 239);
        -webkit-text-stroke: 2px black;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .preco{
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 23px;
        font-weight: bold;
    }

    .btn,a{
        background: #0063E5;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 12px;
        border-radius: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}